---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="contact" description="get in contact with can source"   />
	</head>
	<body>
		<Header />
		<main>
			<h1>you can email us here at:</h1>
            <h2>inquiry@cansource.org</h2>
		</main>
		<Footer />
	</body>
</html>
