---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>{SITE_TITLE}</h1>

			<p>CanSource is the "Canterbury Open Source Hardware Group," we're a small group of 
			researchers and designers based around Canterbury, New Zealand with the common goal of 
			developing open source hardware. Part of this goal is to provide excellent documentation
			for our open source hardware as a way for people to learn more about electronics. This 
			means documenting our design process and not just the design itself.</p>

			<p>CanSource is in its infancy in the moment. Please be patient whilst we grow :)</p>
		</main>
		<Footer />
	</body>
</html>
