---
import HeaderLink from './HeaderLink.astro';
import HambugerIcon from './HamburgerIcon.astro';
---



<div class="hambuger-menu-button" onclick="handle_nav()" id="hambuger-menu-button">
    <HambugerIcon />
</div>
<div class="side-nav" id="side-nav">
    <HeaderLink href="/"><p class="header-link">Home</p></HeaderLink>
    <HeaderLink href="/articles"><p class="header-link">Articles</p></HeaderLink>
    <HeaderLink href="/contact"><p class="header-link">Contact</p></HeaderLink>
    <div class="social-links">
        <a href="https://github.com/CanSource" target="_blank" >
            <svg viewBox="0 0 16 16" aria-hidden="true" width="48" height="48"
            ><path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path></svg
            >
        </a>
    </div>
</div>



<script is:inline>


    let opened = false;
    /* Set the width of the side navigation to 250px */
    function handle_nav() {

        if (opened === true) {
            document.getElementById("side-nav").style.width = "0";
            console.log("closed");
            opened = false;
        } else {
            document.getElementById("side-nav").style.width = "250px";
            document.getElementById("hambuger-menu-button").focus();
            console.log("opened");
            opened = true;
        }
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("hambuger-menu-button").onclick.bind(openNav);
        console.log("closed");
    } 
</script>



<style>

    .hambuger-menu-button {
        float: right;
        max-height: 64px;
		fill: var(--text-color);
		color: var(--text-color);
		display: flex;
		align-items: center;
		transition: 250ms;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
        z-index: 3;
    }

    .side-nav {
        height: 100%;
        width: 0; 
        position: fixed; 
        max-width: 100%;
        z-index: 1; 
        top: 0;
        right: 0;
        background-color: rgb(from var(--header-color) r g b / 0.4);
        backdrop-filter: blur(4px);
        overflow-x: hidden; 
        padding-top: 1em; 
        transition: 250ms; 
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .side-nav > a {
        padding-left: 1em;
        display: block;
    }

    a {
        padding: 0.5em 0.5em;
        color: var(--text-color);
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        text-decoration: none;
    }

    a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }

    .header-link {
        color: var(--text-color);
        transition: 250ms;
    }
    .header-link:hover {
        color: var(--accent);
        transition: 250ms;	
    }

    .social-links {
        padding-top: 1em;
        width: 180px;
        transform: translatex(50%);
    }

    .social-links a {
        fill: var(--text-color);
        transition: 250ms;
    }

    .social-links a:hover {
        fill: var(--accent);
    }

    @media (min-width: 720px) {
        .hambuger-menu-button {
            display: none;
        }
        .side-nav {
            display: none;
        }
    }
</style>

<!-- @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} -->