---
import HeaderTopNav from './Header/HeaderTopNav.astro';
import HeaderSideNav from './Header/HeaderSideNav.astro';
import HeaderLink from './Header/HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Icon from './icon.astro';
---

<header>
	<nav>
		<a class="icon-spot" href="/">
			<Icon height={32} width={110} />
			<span></span>
		</a>
		<HeaderTopNav />
		<HeaderSideNav />
		<!-- this is the thing that will change -->
</header>
<style>


/* https://github.com/CanSource */

	.icon-spot {
		max-height: 64px;
		fill: var(--text-color);
		color: var(--text-color);
		display: flex;
		align-items: center;
		transition: 250ms;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header {
        margin: 0;
        padding: 0 1em;
        background: var(--header-color);
        box-shadow: 0 2px 8px rgba(var(--text-color), 5%);
    }

	@media (max-width: 720px) {

		/* Remove CanSource text from logo on mobile */
		.icon-spot {
			width: auto;
		}
		.icon-spot h2 {
			width: 0;
			display: none;
		}
	}
	
</style>
