---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
import SiteIcon from './icons/SiteIcon.astro';
import HambugerIcon from './icons/HamburgerIcon.astro';
import GithubIcon from './icons/GithubIcon.astro';
---

<header>
	<a href="/" class="header-icon">
		<SiteIcon height={32} width={110} />
	</a>

	<div class="hamburger-menu-button" onclick="handle_nav()" id="hamburger-menu-button">
		<HambugerIcon height={52} width={52} />
	</div>

	<nav id="nav">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/articles">Articles</HeaderLink>
		<HeaderLink href="/contact">Contact</HeaderLink>
	</nav>

	<div class="social-links">
		<a href="https://github.com/CanSource" target="_blank">
			<GithubIcon height={42} width={42} />
		</a>
	</div>
</header>

<script is:inline>
	/* Hamburger button management */

    let opened = false;

    /* Set the width of the side navigation to 250px */
    function handle_nav() {
        if (opened === true) {
            document.getElementById("nav").classList.remove("active");
            console.log("closed");
            opened = false;
        } else {
            document.getElementById("nav").classList.add("active");
            document.getElementById("hamburger-menu-button").focus();
            console.log("opened");
            opened = true;
        }
    }
</script>

<style>

	:root {
		--header-height: 60px;
	}

	header {
		position: fixed;
		width: 100vw;
		z-index: 99;

		display: flex;
		align-items: center;
		justify-content: space-between;

		height: var(--header-height);
		margin: 0;
		padding: 0 1em;
		background: var(--header-color);
		box-shadow: 0 2px 8px rgba(var(--text-color), 5%);
	}

	nav, nav.active {
		width: auto;
	}

	.header-icon {
		max-height: 52px;
		fill: var(--text-color);
		color: var(--text-color);
		display: flex;
		align-items: center;
		transition: 250ms;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	.hamburger-menu-button {
		display: none;
	}

	.social-links {
		max-height: 52px;
		margin-top: 0.5em;
		margin-botton: 0.5em;
	}

    .social-links a {
        float: right;
        fill: var(--text-color);
        transition: 250ms;
    }

    .social-links a:hover {
        fill: var(--accent);
    }


	@media (max-width: 720px) {
		/* Mobile styles */

		.hamburger-menu-button {
			float: right;
			max-height: 64px;
			fill: var(--text-color);
			color: var(--text-color);
			display: flex;
			align-items: center;
			transition: 250ms;
			margin-top: 1.5em;
			margin-bottom: 1.5em;
			z-index: 3;
		}

		nav {
			height: 100%;
			width: 0; 
			top: 0;
			right: 0;
			position: fixed; 
			max-width: 100%;
			z-index: 2; 
			background-color: rgb(from var(--header-color) r g b / 0.4);
        	backdrop-filter: blur(16px);
			overflow-x: hidden; 
			padding-top: var(--header-height); 
			transition: 250ms; 
			transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
		}

		nav.active {
			width: 250px;
		}

		nav HeaderLink::first {
			padding-top: 100px;
		}

		.social-links {
			display: none;
		}
	}	
</style>
